<style>
.welcome{
    font-family: monospace;
    margin-top:5px;
    font-weight: 500;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size:13px;
    margin-top:10px;
    background-color: #F0F0F0;
}
.room-submit{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size:13px;
    margin-top:10px;
    background-color: #F0F0F0;
}
</style>


<div class="wrapper">
<h4 class="welcome">Hei, <span id="username"><%= username %></span>!</h4>
<div style="max-height:270px; overflow-y: scroll;" id="output">
<div id="chat"></div>
<form id="chat-form">
    <div class="input-group">
        <input type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Skriv beskjed..." id="text">
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary btn-sm" value="Send">
        </span>
    </div>
</form>
</div>
<label class="custom-file-upload">
Last opp bilde
<input type="file" id="uploadfile" style="display:none;" class="btn btn-sm" name="file" accept="image/x-png,image/gif,image/jpeg">
</label>
<br><br>
<div class="row">
    <div class="col">
        <p style="font-size:13px;">Disse er pålogget:</p>
        <ul id="user-list">
        </ul>
    </div>
    <div class="col">
        <p style="font-size:13px;">Valgt rom er: <span style="font-size:13px; margin-left:10px; font-weight:500;" id="room-name"></span></p>
        <form id="room" action="/dashboard">
            <input type="hidden" name="username" value="<%= username %>">
        <select class="form-control form-control-sm" name="room" form="room">
            <option value="Skravle">Skravle</option>
            <option value="Teknologi">Teknologi</option>
            <option value="Politikk">Politikk</option>
            <option value="Kjærlighet">Kjærlighet</option>
            <option value="Annet">Annet</option>
        </select>
        <input type="submit" class="room-submit" value="Oppdater">
        </form>
    </div>
</div>

    

<a href="/users/logout" class="btn btn-danger btn-sm">Logg ut</a>
<br><br>
<hr>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.3/qs.min.js" integrity="sha256-lSPkSu/D04IeqWOhTgTf5tLzNFEc37oNE9ysGS9PdK4=" crossorigin="anonymous"></script>
<script src="../socket.io/socket.io.js"></script>
<script>
const chatForm = document.getElementById("chat-form");
let chatMessages = document.getElementById("output");
let userList = document.getElementById("user-list");
let roomName = document.getElementById("room-name");


const {username, room} = Qs.parse(location.search, {
    ignoreQueryPrefix: true
});

const socket = io();

socket.emit("joinRoom", {username, room});

//get room and users

socket.on("roomUsers" ,({room, users})=>{
    outputRoomName(room);
    outputUsers(users);
    console.log(room, users);

})
socket.on("base64 file back", (data) =>{
    outputImage(data);
    console.log(data);

    chatMessages.scrollTop = chatMessages.scrollHeight;
})



socket.on("message", (message) => {
    outputMessage(message);

    chatMessages.scrollTop = chatMessages.scrollHeight;
})
// image submit
$('#uploadfile').bind('change', function(e){
    var data = e.originalEvent.target.files[0];
    readThenSendFile(data);    
});

function readThenSendFile(data){

    var reader = new FileReader();
    reader.onload = function(evt){
        var msg ={};
        msg.file = evt.target.result;
        msg.filename = data.name;
        socket.emit('base64 file', msg);
    };
    reader.readAsDataURL(data);
}
//message submit
chatForm.addEventListener("submit", (e) => {
    e.preventDefault();

    const msg = document.getElementById("text").value;

    socket.emit("chatMessage", msg);

    document.getElementById("text").value = "";
    document.getElementById("text").focus();
})

function outputMessage(message){
    const div = document.createElement("div");
    const output = document.getElementById("output");
    const chat = document.getElementById("chat");
    div.classList.add('message');
    div.innerHTML = `<p style="margin-bottom:0px; font-size:13px; padding:4px;  marign:0px; background-color:#F0F0F0; class="meta">${message.text} </p>
    <small style="font-size:10px;  margin:0px; padding:0px;" class="text">${message.username} klokken: ${message.time}</p>`;
    chat.appendChild(div);
    output.insertBefore(chat, output.firstChild);
}

function outputImage(data){
    const div = document.createElement("div");
    const output = document.getElementById("output");
    const chat = document.getElementById("chat");
    div.classList.add('message');
    div.innerHTML = `<p style=" background-color:#F0F0F0; font-size:13px; padding:4px; marign:0px; class="meta"><img src="${data.file}" style="width:200px;"> </p>
    <small style="font-size:10px; margin:0px; padding:0px;" class="text">${data.username} har send: ${data.filename}</p>`;
    chat.appendChild(div);
    output.insertBefore(chat, output.firstChild);
        
}

function outputUsers(users) {
  userList.innerHTML = `
    ${users.map(user => `<li style="font-size:13px; font-weight:500;">${user.username}</li>`).join('')}
  `;
}
function outputRoomName(room){
    roomName.innerText = room;
}

</script>