
<div class="col-md-12 col-xl-5">
<h1 style="text-align:center;">Velkommen til Kompis-chat</h1>
<p class="mt-5 mb-5" style="text-align:center;">For å begynne kan du: <a href="users/login">Logge inn</a> eller <a href="users/register">Registere deg</a>.</p>
</div>